asgiref==3.7.2
-e git+ssh://git@github.com/Kalimordkalume/kalume-profesor.git@c86530af61e34a985a5920a17e8bddd28d37b4c8#egg=backend&subdirectory=backend
Django==5.0.3
djangorestframework==3.15.0
gunicorn==21.2.0
packaging==24.0
sqlparse==0.4.4
whitenoise==6.6.0
