{% extends "base.html" %}
{% block title %}Calculator Home{% endblock title %}


{% block content %}
<div class="col columna-principal">
    <form class="row" id="settings-container" method="post" action="">
        <div class=" col" id="left-side">
            <div class="row" id="planets-row">
                <div class="col" id="form-wrapper-planets">
                    <div class="form-floating" id="form-field-wrapper">
                        {{form.planets}}
                        {{form.planets.label_tag}}
                    </div>
                </div>
            </div>
            <div class="row" id="energy-row">
                <div class="col" id="form-wrapper-energy">
                    <div class="form-floating" id="form-field-wrapper">
                        {{form.energy}}
                        {{form.energy.label_tag}}
                    </div>
                </div>
            </div>
            <div class="row" id="fusion-row">
                <div class="col" id="form-wrapper-fusion">
                    <div class="form-floating" id="form-field-wrapper">
                        {{form.fusion}}
                        {{form.fusion.label_tag}}
                    </div>
                </div>
            </div>
            <div class="row" id="steps-row">
                <div class="col" id="form-wrapper-steps">

                </div>
            </div>
        </div>
        <div class="col" id="rigt-side">
            <div class="row" id="race-row">
                <div class="col" id="form-wrapper-race">

                </div>
            </div>
            <div class="row" id="race-level-row-racelvl">
                <div class="col" id="form-wrapper">

                </div>
            </div>
            <div class="row" id="checkboxes-row">
                <div class="col" id="form-wrapper-checkboxes">

                </div>
            </div>
            <div class="row" id="calculate-row">
                <div class="col" id="form-wrapper-button">
                    <button type="submit" value="Calcular"></button>
                </div>
            </div>
        </div>
    </form>

    <div class="row" id="results-container">

    </div>
</div>
{% endblock content %}