{% extends "base.html" %}
{% block title %}Calculator Home{% endblock title %}


{% block content %}
<form class="container" id="settings-container" method="post" action="">
    <div class="row" id="planets-row">
        <div class="col" id="form-wrapper-planets">
            <div class="form-floating" id="form-field-wrapper">
                {{form.planets}}
                {{form.planets.label_tag}}
            </div>
        </div>
        <div class="col" id="form-wrapper-race">
            <div class="form-floating">
                {{form.life_form_type}}
                {{form.life_form_type.label_tag}}
            </div>
        </div>
    </div>
    <div class="row" id="energy-row">
        <div class="col" id="form-wrapper-energy">
            <div class="form-floating" id="form-field-wrapper">
                {{form.energy}}
                {{form.energy.label_tag}}
            </div>
        </div>
        <div class="col" id="form-wrapper-racelvl">
            <div class="form-floating" id="form-field-wrapper">
                {{form.life_form_level}}
                {{form.life_form_level.label_tag}}
            </div>
        </div>
    </div>
    <div class="row" id="fusion-row">
        <div class="col" id="form-wrapper-fusion">
            <div class="form-floating" id="form-field-wrapper">
                {{form.fusion}}
                {{form.fusion.label_tag}}
            </div>
        </div>
        <div class="col checkboxes-wrapper">
            <div class="form-check form-check-inline commander-wrapper">
                {{form.commander}}
                <label class="form-check-label" for="{{form.commander.id_for_label}}">{{form.commander.label}}</label>
            </div>
            <div class="form-check form-check-inline engineer-wrapper">
                {{form.engineer}}
                <label class="form-check-label" for="{{form.engineer.id_for_label}}">{{form.engineer.label}}</label>
            </div>
        </div>
    </div>
    <div class="row" id="steps-row">
        <div class="col" id="form-wrapper-steps">
            <div class="form-floating" id="form-field-wrapper">
                {{form.steps}}
                {{form.steps.label_tag}}
            </div>
        </div>
        <div class="col" id="form-wrapper-button">
            <button class="btn btn-primary" type="submit" value="Calcular">Calcular</button>
        </div>
</form>
</div>
{% endblock content %}